<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/Desktop/Deepika/Selenium/DDAcademy/TestNG">
        <classes>
            <class name="Day1">
                <methods>
                    <exclude name="demoOne"></exclude>
                </methods>
            </class>
           
        <!--    <<class name="Day2"></class> !-->
        </classes>
    </test>
</suite>